@model Categoria
@{
    ViewData["Title"] = "Atualizar Categoria";
}
<br />
<h1>Atualizar Categoria</h1>
<hr />
<form method="post">
    <input type="hidden" asp-for="Id" />
    <partial name="_partial.cshtml" />
</form>